* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
	background:rgb(102,0,102);
}

*, *:before, *:after {
	box-sizing:inherit;
}

.container {
	display:flex;
	width:100%;
}

.container > div {
	margin:0 20px;
	width:100%;
	font-family:'Play',sans-serif;
	color:white;
}

h1 {
	font-family:'Corben',cursive;
}

h2 {
	margin-bottom:10px;
	font-size:1.2em;
}

h3 {
	margin-top:10px;
	font-size:1.1em;
}

form {
	display:flex;
	flex-direction:column;
	width:100%;
}

form > div {
	margin:5px 0;
}

input {
	flex-grow:1;
	padding:5px 10px;
	outline:0;
}

button {
	padding:10px;
	outline:0;
}

a {
	text-decoration:none;
	color:white;
}

a:hover {
	color:silver;
}

.users {
	display:flex;
	justify-content:flex-start;
}

.users > div {
	margin:0 10px 10px 0;
}

.chat {
	display:flex;
	flex-direction:row;
	width:100%;
}

.room {
	margin:10px 0;
	padding:10px;
	height:150px;
	line-height:2em;
	color:black;
	background-color:white;
	border:1px solid silver;
	overflow-x:hidden;
    overflow-y:scroll;
}

.links {
	display:flex;
	justify-content:center;
}

.links > div {
	margin:5px;
	padding:10px;
	text-align:center;
	color:silver;
}

.logout {
	display:flex;
	justify-content:center;
	margin:10px 0;
}
